.topnav {
    background-color: rgb(10, 16, 67);
    overflow: hidden;
    background-size: 100px 500px;
    padding: 0.2% 1%;
  }

.number{
  color:#ffffff;
    text-align: center;
    padding: 14px 0.1px;
    text-decoration: none;
    font-size: 17px;
    margin: 1px 27px;
    display:inline-block; margin-left:5px;
}

.button{
  background-color: #ffffff;
  border: none;
  color: rgb(15, 102, 214);
  padding: 10px 9px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 7px 0.1px;
  cursor: pointer;
  font-family: Arial bold, Helvetica, sans-serif;
  border-radius: 4px;
  margin-right: 100px;
}

.phone{
  color:blue;
  display:inline-block; margin-left:60px;
}

.social-icon{
  display: inline-block; text-align: right; width: 43%;
}
.social-icon1{
  color: #ffffff;
  text-decoration: none;
  margin: 10px;
}

.social-icon2{
  color: #ffffff;
  text-decoration: none;
  margin: 10px;
}

.social-icon3{
  color: #ffffff;
  text-decoration: none;
  margin: 10px;
}

.social-icon4{
  color: #ffffff;
  text-decoration: none;
  margin: 10px;
}

.social-icon5{
  color: #ffffff;
  text-decoration: none;
  margin: 10px;
}

.topbar{
  background-color: rgb(255, 255, 255);
  background-size: 100px 500px;
  padding: 2.8% 1%;
}

.sanmark{
   width:235px; 
   height:46px;
   margin: 20px;
   padding: 1px 10px;
   position: absolute;
   margin-top: -15px;
   margin-left: 10px;
}

.nav{
  display: inline-block; text-align: right; width: 640px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 5px;
}

.home{
  color: black;
  text-decoration: none;
  margin: 3px ;
  font-size: 12px;
  padding: 0.5px 10px;
}

.home:hover{
  color: #1f50f0;
}

.service{
  color: black;
  text-decoration: none;
  margin: 3px;
  font-size: 12px;
  padding: 0 10px;
}

.service:hover{
  color: #1f50f0;
}

.profile{
  color: black;
  text-decoration: none;
  margin: 3px;
  font-size: 12px;
  padding: 0.5px 10px;
}

.profile:hover{
  color: #1f50f0;
}

.successtories{
  color: black;
  text-decoration: none;
  margin: 3px;
  font-size: 12px;
  padding: 0.5px 10px;
}

.successtories:hover{
  color: #1f50f0;
}

.testimonials{
  color: black;
  text-decoration: none;
  margin: 3px;
  font-size: 12px;
  padding: 0.5px 10px;
}

.testimonials:hover{
  color: #1f50f0;
}

.contact{
  color: black;
  text-decoration: none;
  margin: 3px;
  font-size: 12px;
  padding: 0.5px 10px;
}

.contact:hover{
  color: #1f50f0;
}

.background{
  background: linear-gradient(rgba(0,0,30,0.7),rgba(0,0,30,0.7)),url(Images/bakground1.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  display: flex;
  opacity: 1;
  position: absolute;
  color: #ffffff;
  width: 99%;
  height: 90%;
}

.first{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 90px 90px;
  align-items: center;
}

.button2 {
  background-color: #0039f6;
  margin: 0 ;
  color: rgb(255, 255, 255);
  padding: 19.5px 50px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  background: linear-gradient(to left, #2366db 0%,#065095 30%,#0524af 60%,#010c89 100%);

}

.button2:hover{
  background: linear-gradient(to right, #2366db 0%,#065095 30%,#0524af 60%,#010c89 100%);

}

.image{
  border-radius: 200%;
  height: 440px;
  width: 440px;
  padding: 50px 75px;
  -webkit-filter: drop-shadow(20px 20px 20px rgba(0, 0, 20, 0.8))
      drop-shadow(-20px -20px 20px rgba(0, 0, 20, 0.8));
  filter: drop-shadow(20px 20px 20px rgb(182, 177, 17,)) 
      drop-shadow(-20px -20px 20px rgb(218, 213, 213,));
}

